
body {
  text-align: center;
}
 
button {
  background-color: lightblue;
  font-size: 20px;
  margin: 20px;
}

table, td {
  border: 1px solid black;
  transform: scaleY(-1); /* numbering bottom to top */
  margin: 0 auto;
}

table {
  display: flex;
  justify-content: center;
}

.item {
  padding: 10px;
  font-weight: bold;
}

.row-direction:nth-of-type(even) {
  display: flex;
  direction: rtl; 
}

.row-direction:nth-of-type(odd) {
  display: flex;
  direction: ltr;
}