
body {
  text-align: center;
}
 
button {
  background-color: lightblue;
  font-size: 20px;
  margin: 20px;
}

table, td {
  border: 1px solid black;
  transform: scaleY(-1);
  margin: 0 auto;
}




.item {
  padding: 10px;
  font-weight: bold;
  /* direction: reverse; */
}

item:nth-child(2n) {
  transform: rotate(180deg);
}