
body {
  text-align: center;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.row-title {
  margin: 15px;
  align-items: center;
  border: 1px solid lightcoral;
  display: flex;
  box-shadow: 5px 10px 18px black;
}

.column {
  flex: 33.33%;
}

#snake {
  height: 5em;
  width: 5em;
}
 
#ladder {
  height: 5em;
  width: 5em;
}

.container {
  margin-top: 50px;
  justify-content: space-around;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
}

.container-turn {
  margin-top: 50px;
  margin: 0 auto;
  align-items: center;

}

.roll, .container-board {
  float: right;
  box-sizing: border-box;
  border: 8px dashed lightcoral;
  padding: 10px;
  margin: 1em;
 /* max-width: 70%;*/
}

.die-image {
  width: 12rem;
  padding: 15px;
}

button {
  background-color: lightblue;
  font-size: 20px;
  margin: 20px;
}

table, td {
  transform: scaleY(-1); /* numbering bottom to top */
}

table {
  display: flex;
  justify-content: center;
}

.item {
  padding: 18px;
  font-weight: bold;
  border: 1px solid black;
  flex: 1; 
  width: 20px; 
}

.row-direction:nth-of-type(even) {
  display: flex;
  direction: rtl; 
}

.row-direction:nth-of-type(odd) {
  display: flex;
  direction: ltr;
}