body {
  background-color: rgba(128, 240, 240, 0.4);
  text-align: center;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.row-title {
  background-color: white;
  margin: 15px;
  align-items: center;
  border: 1px solid lightcoral;
  display: flex;
  box-shadow: 5px 10px 18px black;
}

.row-t {
  flex: 33.33%;
}

#snake {
  height: 5em;
  width: 5em;
}

#ladder {
  height: 5em;
  width: 5em;
}

.wrapper {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: top;
  flex-wrap: wrap;
  display: flex;
  height: 80%;
  width: 90%;
}

.container-turn {
  height: 100%;
  box-sizing: border-box;
  border: 8px dashed lightcoral;
  padding: 2em 1em;
  display: flex-block;
  align-items: center;
  flex: 1 0 40%;
}

#die-image:active,
#die-image:focus {
  /*trying to get the dice not to move when button clicked, didn't work */
  position: relative;
}

.container-board {
  box-sizing: border-box;
  border: 8px dashed lightcoral;
  padding: 5px;
  justify-content: flex-end;
  flex: 1 0 60%;
}

#die-image {
  width: 50%;
  padding: 15px;
}

button {
  background-color: white;
  font-size: 20px;
  margin: 20px;
}

table,
td {
  transform: scaleY(-1); /* numbering bottom to top */
}

table {
  display: flex;
  justify-content: center;
}

.item {
  padding: 18px;
  font-weight: bold;
  border: 1px solid black;
  flex: 1;
  width: 20px;
}

.row-direction:nth-of-type(even) {
  display: flex;
  direction: rtl;
}

.row-direction:nth-of-type(odd) {
  display: flex;
  direction: ltr;
}
