 
body { 
  background-color: rgba(128, 240, 240, .4);
  text-align: center;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.row-title {
  background-color: white;
  margin: 15px;
  align-items: center;
  border: 1px solid lightcoral;
  display: flex;
  box-shadow: 5px 10px 18px black;
}

.row-t {
  flex: 33.33%;
}

#snake {
  height: 5em;
  width: 5em;
}
 
#ladder {
  height: 5em;
  width: 5em;
}

.container {
  justify-content: center;
  margin: 50px auto;
  /* display: inline;  */
  align-items: center;
}

.container-turn {
  margin: 1em;
  left: 2em;
  width: 40%;
  height: 28em;
  box-sizing: border-box;
  border: 8px dashed lightcoral;
  padding: 2em 1em;
  position: absolute;
  display: block;
} 

#die-image:active, #die-image:focus { /*trying to get the dice not to move when button clicked, didn't work */
  position: relative;
}

.container-board {
  box-sizing: border-box;
  border: 8px dashed lightcoral;
  padding: 10px;
  margin: 1em;
  right: 2em;
  position: absolute;
}

#die-image {
  width: 50%;
  padding: 15px;
}

button {
  background-color: white;
  font-size: 20px;
  margin: 20px;
}

table, td {transform: scaleY(-1); /* numbering bottom to top */ }

table {
  display: flex;
  justify-content: center;
}

.item {
  padding: 18px;
  font-weight: bold;
  border: 1px solid black;
  flex: 1; 
  width: 20px; 
}

.row-direction:nth-of-type(even) {
  display: flex;
  direction: rtl; 
}

.row-direction:nth-of-type(odd) {
  display: flex;
  direction: ltr;
}